.goal {
    display: flex;
    flex-flow: column nowrap;
}

.goalRow {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.goalTitle {
    flex: 1;
}

.goalState {
    flex: 1;
}

.goalStateCreated {
    background-color: lightyellow;
}

.goalStateInProgress {
    background-color: lightgreen;
}

.goalStateComplete {
    background-color: lightcyan;
}

.notesExpanderContainer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.notesExpander {
    width: 90%;
    padding: 2px 2px;
}